




<section>
    <div class="container d-flex">

<div class="firstdiv">

</div>
<div class="secondDiv">
    <div class="card text-center">
  <div class="card-header text-success">
    
  </div>
  <div class="card-body">
    <h5 class="card-title text-success">Order Placed</h5>
    <p class="card-text"> To check orders click below</p>
    <a href="/orders" class="btn btn-primary">Go to Orders</a>
     
  </div>
  <div class="card-footer text-muted">

  </div>
</div>
</div>
<div class="thirddiv"></div>
</div>






</section>