{{!-- 

<div class="container mt-5">
 <div class="container">
    <div class="main-body">
            <section class="vh-100" style="background-color:rgb(230, 232, 242);">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                    
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">

                            <form action="/verify-mail" method="post">

                                



                            <div class="form-outline mb-4">
                               
                               
                            </div>

                                                <p class="mb-5 pb-lg-2" style="color: #393f81;">do you want to resend Otp<a href="/userlogin"
                                style="color: #393f81;">press here</a></p>
                            


                            <div class="pt-1 mb-4">
                                <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                                <input class="btn btn-warning btn-block btn-lg gradient-custom-4 text-body" type="submit" value="Submit" >

                            </div>

                            
                            
                            </form>

                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </section>
        </div>
    </div>
</div>
 --}}


<section>
    <div class="container d-flex">

<div class="firstdiv" style="width: 400px; height: 200px;">

</div>
<div class="secondDiv" style="width: 400px; height: 500px; margin-top: 100px;">
    <div class="card text-center">
  <div class="card-header text-success">
    
  </div>
  <div class="card-body">
   <form action="/verify-mail" method="post">

    <label class="form-label" for="form2Example17">Enter your OTP</label>
     <input type="text" name="otp" id="form2Example17" class="form-control form-control-lg" ><br>
     <input type="submit" class="btn btn-success" value="submit">

   </form>
     
  </div>
  <div class="card-footer text-muted">

  </div>
</div>
</div>
<div class="thirddiv"></div>
</div>


